/* Remove inc/dec buttons on inputs */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}

.container {
    margin-top: 50px !important;
    margin: auto !important;
    min-width: 300px !important;
    max-width: 25%;
    text-align: center;
}

.winner {
    color: rgb(58, 187, 69);
}

table, td {
    border: 1px solid black;
}

input, select, textarea{
    width: 50px !important;
	text-align: center;
}

.wrapper {
	margin-top: 30px;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    font-size: 16pt;
}

.wrapper2 {
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(20px, auto);
    font-size: 15pt;
	justify-items: center;
}

.wrapper3 {
	/* margin-left: 55%;  */
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: minmax(20px, auto);
    font-size: 15pt;
	justify-items: end;
}

.small-text {
    font-size: 8pt;
    float: left;
    margin-top: 10px;
    margin-left: 6%;
}

@media only screen and (max-width: 1300px) {
    .small-text {
        margin-left: 0;
    }
}

.box1 {
    grid-column: 1/-1;
    grid-row: 1;
}

.box2 {
    grid-column: 1;
    grid-row: 2;
}

.box3 {
    grid-column: 2;
    grid-row: 2;
}

.box4 {
    grid-column: 3;
    grid-row: 2;
}

.actions {
	grid-column: 1 / 4 !important;
	grid-row: 3;
	/* position: absolute !important; */
}

.wrapper > div {
    background: #eee;
}

.number {
    margin: 10px 0;
}

.selector {
    margin-top: 10px !important;
    margin-right: 3px !important;
    margin-bottom: 3px !important;
    margin-left: 3px !important;
    float: left;
}

.dropdown-menu{
	max-width: 100px !important;
	min-width: 100px !important;
}
